.nav{
    background-color: rgb(185, 187, 187);
    margin: auto;
    width: 200px;
    height: 35px;
    
}
a{
    color: rgb(196, 113, 113);
   font-size: 25px;
   
}
.title{
    background-color: rgb(155, 133, 133);
    width: 255px;
   
}
.para{
    background-color: rgb(134, 75, 75);
    width: 550px;
    color: rgb(255, 255, 255);
  
}
.fo{
    background-color: greenyellow;
    display: inline-block;
}
.in {
    display: block;
    margin: 5px;
}
.area{
    margin: 5px;

}